<!DOCTYPE html>

<html>
  <head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{title}}</title>

  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <img class="portrait" src="/img/Dan.jpeg" alt="A picture of the author">
    </div>

    {{>footer}}
  </body>
</html>