<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{title}}</title>

  </head>
  <body>
    <h1>{{title}}</h1>
    <h4>Created by {{name}}</h4>
    <img src="/img/Dan.jpeg" alt="A picture of the author">
  </body>
</html>